version: 2.1

orbs:
  node: circleci/node@4.1.0

jobs:
  #build source
  build:
    docker:
      - image: circleci/node:10.16.3
    steps:
      - checkout
      - run:
          name: update-npm
          command: 'sudo npm install -g npm@5'
      - run: node --version
      - run: npm version
      - run: npm install
      - run: npm run build
      - run: ls -lR 
      - persist_to_workspace:
          root: .
          paths:
            - dist/*
  #destination
  prepare:
    docker:
      - image: circleci/node:10.16.3
    steps:
      - attach_workspace:
         at: .
      - run:
          name: Get gh-pages
          command: |
            git clone -b gh-pages https://github.com/shopizer-ecommerce/documentation.git

      #- run: rm -rf ./documentation/static
      #- run: rm ./documentation/service-worker.js
      #- run: rm ./documentation/index.html
      - run: rm -rf ./documentation/*
      - run: cp -pr ./dist/* ./documentation

      - run:
          name: config email
          command: git config --global user.email $EMAIL
          working_directory: documentation

      - run:
          name: config user name
          command: git config --global user.name $GIT_AUTHOR_NAME
          working_directory: documentation

      - run:
          name: add files
          command: git add .
          working_directory: documentation

      - run:
          name: commit
          command: git commit -m "[skip ci] latest"
          working_directory: documentation

      - run:
          name: push
          command: git push https://$GIT_TOKEN@github.com/shopizer-ecommerce/documentation.git gh-pages
          working_directory: documentation

      #- run: |
      #     (git config --global user.email $EMAIL && git config --global user.name $GIT_COMMITTER_NAME && git add . && git commit -m "[skip ci] latest" && git push https://$GIT_COMMITTER_NAME:$GIT_TOKEN@github.com/shopizer-ecommerce/documentation.git gh-pages)

        

workflows:
  version: 2
  build_and_publish:
    jobs:
      - build:
          filters:
              branches:
                only:
                  - master
      - prepare:
          requires:
            - build